<div class="title">
  <div class="upper-title">
   <div class="title-user">
     <%= title.user.name%>
   </div>
   <div class="title-date">
     <%= l title.created_at %>
   </div>
  </div>
  <div class="lower-title">
    <div class="title-content">
      <%= title.content %>
    </div>
    <div class="title-amount">
      <%= title.amount %>
    </div>
    <div class="title-memo">
      <%= title.memo %>
    </div>
  </div>
</div>